@using EventsCore.Models
@model Event
<div class="col">
    <div class="card h-100">
    <div class="card-body" data--h-bstatus="0OBSERVED">
            <img alt="EventImage" src="http://localhost:5180/@Model.imageUrl" class="card-img-top" />
        <h5 class="card-title" data--h-bstatus="0OBSERVED" style="margin:5px">@Model.EventName</h5>
            <h6 class="card-subtitle text-muted" style="margin:5px" data--h-bstatus="0OBSERVED">@Model.Date</h6>
        <h5 class="card-title" data--h-bstatus="0OBSERVED" style="margin:5px">@Model.Price $</h5>
    <div class="card-body" data--h-bstatus="0OBSERVED">
                <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#element_@Model.Id" aria-controls="offcanvasExample" data--h-bstatus="0OBSERVED">
            More Info
        </button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="element_@Model.Id" aria-labelledby="offcanvasExampleLabel" data--h-bstatus="0OBSERVED">
            <div class="offcanvas-header" data--h-bstatus="0OBSERVED">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel" data--h-bstatus="0OBSERVED">@Model.EventName</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" data--h-bstatus="0OBSERVED"></button>
            </div>
            <div class="offcanvas-body" data--h-bstatus="0OBSERVED">
               @Model.Description
            </div>
         </div>
                @await Html.PartialAsync("BookButton")

    </div>
    </div>
</div></div>